<nav class="navbar navbar-default">
  <div class="container-fluid">
	  <div class="navbar-header">
	      <a class="navbar-brand" href="#">Gestibank</a>
	  </div>
		<!--<ul class="nav navbar-nav">
			<li><a routerLink="/user" routerLinkActive="active">Liste des Utilisateurs</a></li>
			<li><a routerLink="/user/create" routerLinkActive="active">Ajout Utilisateur</a></li>
			<li><a routerLink="/conseillers" routerLinkActive="active">Liste des Conseiller</a></li>
			<li><a routerLink="/affectation">Demande affectations</a></li>
			<li><a routerLink="/connexion">Connexion</a></li>
		</ul>-->

		<ul class="nav navbar-nav navbar-right ">
			<div *ngIf="!typeUtilisateur" >
				<li><a routerLink="/connexion">Connexion</a></li>
			</div>
			<div *ngIf="typeUtilisateur" >
					<li><a routerLink="/connexion">Deconnexion</a></li>
			</div>
		</ul>
  </div>
</nav>
	
	<div class="container-fluid">
		<router-outlet></router-outlet>		
	</div>