<div class="container-fluid">
  <div class="row">
    
 
    <div class="col-md-3 list1">
      <h3>Panel admin</h3>
    <button class="btn btn-default btn-block" (click)="clear()">Clear</button>
    <button class="btn btn-danger btn-block" (click)="clear()">Gestion conseillers</button>
    <button class="btn btn-danger btn-block" (click)="clear()">Affectation client/conseiller</button>
      <hr/>
     <!-- <ul class="list-unstyled list-group" 
          *ngFor="let user of users" 
          (click)="selectUser(user)" >
          
          <li class="list-group-item" [class.active]="user === userSelected">{{ user.name }}</li>
      </ul>
    -->
    </div>
    <div class="col-md-9 list2">
    <app-conseiller-list ></app-conseiller-list>
    <app-conseiller-detail></app-conseiller-detail>
    <app-affectation></app-affectation>
    </div>

  
  </div>
</div>